body{
 margin: 0;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: rgba(255, 235, 245, 0.767);
}
.header-part{
    display: flex;
    height: 100vm;
    justify-content: space-around;
    align-items: center;
}
.header-tex1{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 30px;
}
.header-tex2{
    font-weight: 400;
}
.btn{
    padding: 15px 20px;
    background-color: #E55473;
    color: aliceblue;
    font-weight: 600;
    border: none;
    border-radius: 7px;
    margin-top: 20px;
    cursor: pointer;
}
.header-tex-div{
    padding-left: 100px;
}
.header-pic{
    width: 600px;
    height: 800px;
    padding-right: 80px;
}
.featured-tex{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 30px;
}
.featured-tex h1{
    font-size: 35px;
}
.flower-bg1{
    background-color: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    text-align: center;
    border-start-end-radius: 250px;
    border-start-start-radius: 250px;
}
.flower-bg2{
    background-color: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    text-align: center;
    border-start-end-radius: 250px;
    border-start-start-radius: 250px;
}
.flower-bg3{
    background-color: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
    text-align: center;
    border-start-end-radius: 250px;
    border-start-start-radius: 250px;
}
.position-bg1{
    padding-top: 110px;
}
.position-bg2{
    padding-top: 110px;
}
.position-bg3{
    padding-top: 67px;
}
.flowers-sec{
    display: flex;
    justify-content: center;
    gap: 17px;
}
.tex-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    font-size: 20px;
    align-items: center;
}
.services-area{
    width: 1440px;
    height: 320px;
    display: flex;
    background-color: rgba(39, 39, 39, 0.05);
    justify-content: space-around;
    align-items: center;
}
.side{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.hot-deal{
    width: 100%;
    height: 620px;
    background-color: rgba(229, 84, 115, 0.103);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 120px;
}
.hot-deal-tex{
    text-align: center;
}
.hot-deal-tex h1{
    font-size: 50px;
}
#color{
    color: rgba(229, 84, 115, 1);
}
.top{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.instagram-tex{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 110px;
}
.instagram-tex h1{
    font-size: 45px;
}
.box{
    width: 200px;
    box-shadow: 10px 10px 70px rgba(55, 255, 238, 0.699);
    height: 315px;
    padding: 10px;
    text-align: center;
    background-color: rgb(20, 20, 20);
    color: aliceblue;
}
.service-container{
    display: flex;
    justify-content: space-around;
}
.box-btn{
    margin-top: 30px;
    background-color: black;
    color: aliceblue;
    border: none;
    padding: 7px 13px;
    cursor: pointer;
}
.sec-are{
    height: 500px;
    width: 100%;
}
.section-header-one{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
    margin-top: 70px;
}
#top1{
   background-image: url("../Rectangle 9.png");
   height: 450px;
   width: 100%;
   background-repeat: no-repeat;
   background-position: center;
   margin-top: 150px;
}
.deals-tex{
    text-align: center;
    padding-top: 70px;
}
.deals-tex h1{
    font-size: 50px;
}
.input-one{
    padding: 23px;
    width: 500px;
    font-size: 20px;
    border: none;
}
.ff{
    text-align: center;
    padding-top: 20px;
}
.btn-last{
    padding: 23px 25px;
    background-color: #E55473;
    color: aliceblue;
    font-weight: 600;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 20px;
}
footer{
    width:  100%;
    height: 449px;
    background-color: #111010;
    margin-top: 180px;
    color: aliceblue;
}
.foter-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-tex{
    text-align: center;
}
.footer-header{
    font-size: 50px;
}
#footer-shop{
    color: #E55473;
}
#copy-right{
    font-size: 16px;
    color: gray;
    padding-top: 37px;
}